body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.groups * {
  padding: 0px;
}

.group {
  font-weight: bold;
  vertical-align: top;
  text-align: right;
}

#darktoggle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  position: sticky;
}

.darkmode {
  background-color: #181a1b;
  color: white;
}

a {
  color: #3391ff;
}

button {
  border-color: #736b5e;
  color: #e8e6e3;
  background-color: #181a1b;
}
/* Align the Nyan Cat image to the right and set its size */
.nyan-cat {
  width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 0;
}